/*Menu*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F5F5F5;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
}
.top-container{
    padding-top: 40px;
}

.menu-elements i{
    margin-right: 20px;
}
.menu-elements{
    font-size: 18px;
    text-align: left
}

.sidenav a {
    padding: 20px 8px 8px 32px;
    text-decoration: none;
    color: var(--black);
    display: block;
    transition: 0.3s;
}

.category{
    color: var(--grey);
    padding: 20px 8px 8px 32px;
    font-size: 14px;
}
.information{
    color: var(--grey);
    font-size: 14px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 6px;
    right: 25px;
    font-size: 26px;
    color: var(--white);
    font-weight: bold;
    margin-left: 50px;
    background-color: var(--black);
    padding: 0px 7px;
    border-radius: 4px;
}

.sidenav .user-information .full-name{
    font-weight: bold;
}
.sidenav .user-information{
    text-align: left!important;
    font-size: 14px;
    padding: 10px 0px;
    border-bottom: 4px solid var(--primary-blue);
}

.sidenav .user-information > div{
    margin: 10px auto;
    margin: 10px 10px 0px 30px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.menu-icon{
    font-size: 18px;
    margin: 10px;
    padding: 10px 10px;
}

.menu-container{
    border-bottom: solid 2px var(--primary-blue);
}